@model IEnumerable<MVC_Club.Models.SocioActividadModel>

@{
    ViewBag.Title = "Ingresos";
}

<h2>Ingresos por Socio</h2>

<form action="/Actividades/Ingresos" method="post">

    <h3>Por Cédula</h3>
    <label for="cedula">Ingresa una cedula</label>
    <input type="text" name="cedula" id="cedula" class="form-control" placeholder="Ingresa una cédula" />
    <br />
    <button class="btn btn-primary" type="submit" id="btnBuscar">Filtrar</button>
</form>
<br>
<p class="text-danger">@ViewBag.mensaje</p>

@if (Model != null && Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdActividad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CedulaSocio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraActividad)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdActividad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CedulaSocio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraActividad)
                </td>
            </tr>
        }

    </table>
}
else
{
    <br />
    <br />
    <p>No hay actividades para esta búsqueda.</p>
}