@*@model IEnumerable<MVC_Club.Models.ActividadModel>

@{
    ViewBag.Title = "Ingresos";
}

<h2>Ingresos por Socip</h2>

<form action="/Actividades/Ingresos" method="post">

    <h3>Por Cédula</h3>
    <label for="cedula">Ingresa una cedula</label>
    <input type="text" name="cedula" id="cedula" class="form-control" placeholder="Ingresa una cédula" />
    <br />
    <button class="btn btn-primary" type="submit" id="btnBuscar">Filtrar</button>
</form>
<br>
<p class="text-danger">@ViewBag.mensaje</p>

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdadMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdadMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cupo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EdadMin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EdadMax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cupo)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}*@