@using Dominio
@{
    ViewBag.Title = "Detalle de Socio";
    ViewBag.TextoActivo = (ViewBag.socio.Activo) ? "checked" : "";
    ViewBag.FechaNacimiento = ViewBag.socio.FechaNac.ToString("yyyy-MM-dd");
    ViewBag.FechaIngreso = ViewBag.socio.FechaIngreso.ToString("yyyy-MM-dd");

    <h2>Detalle del Socio</h2>
    <form action="/funcionario/DetalleSocio" method="post" onsubmit="return validarSubmit();">
        <div class="form-group">
            <label for="cedula">Cédula:</label>
            <input type="number" id="cedula" class="form-control" name="cedula" value="@ViewBag.socio.Cedula" readonly />
        </div>

        <div class="form-group">
            <label for="nombre">Nombre y Apellido:</label>
            <input type="text" id="nombre" class="form-control" name="nombre" required placeholder="Ingresa un Nombre y Apellido" value="@ViewBag.socio.Nombre" />
        </div>

        <div class="form-group">
            <label for="fechaNac">Fecha de Nacimiento:</label>
            <input type="date" id="fechaNac" class="form-control" name="fechaNac" required value="@ViewBag.FechaNacimiento" />
        </div>

        <div class="form-group">
            <label for="fechaNac">Fecha de Ingreso:</label>
            <input type="date" id="fechaIngreso" class="form-control" name="fechaIngreso"  value="@ViewBag.FechaIngreso" readonly/>
        </div>
        <div class="form-check form-switch form-group">
            <input class="form-check-input" type="checkbox" id="activo" name="activo" @ViewBag.TextoActivo onclick="return false"">
            <label class="form-check-label" for="activo">Activo</label>
        </div>
        <button class="btn btn-primary" type="submit" id="btnGuardar">Actualizar datos</button>
        <button class="btn btn-secondary btn btn-danger" type="button" id="btnEliminar">Dar de baja</button>
    </form>
    @if(ViewBag.socioModificado != null && ViewBag.socioModificado)
            {
            <h3 class="text-success">@ViewBag.mensajeDatosActualizados</h3>
    } else
    {
        <h3 class="text-danger">@ViewBag.mensajeDatosActualizados</h3>
    }
    @if (ViewBag.mensualidadPaga != null && ViewBag.mensualidadPaga && ViewBag.socio.Activo)
    {
        <h4>Más acciones:</h4>
        @Html.ActionLink("Inscribir a Actividad", "/ListarActividades", new { cedula = @ViewBag.socio.Cedula }) 
        <p class="text-success">*El socio tiene la cuota al día.</p>

    } else if(ViewBag.mensualidadPaga != null && !ViewBag.mensualidadPaga && ViewBag.socio.Activo)
    {
        <h4>Más acciones:</h4>
        @Html.ActionLink("Pagar Mensualidad", "/PagarMensualidad", new { cedula = @ViewBag.socio.Cedula })
        <p class="text-danger">*El socio no tiene la cuota al día.</p>
    }
    <br />
    <hr />
    <form action="/funcionario/DetalleSocio" method="get">
        <h3>Ingresos a actividades por Fecha:</h3>
        <div class="form-group">
            <label for="fechaIngresoAct">Selecciona una fecha:</label>
            <input type="date" id="fechaIngresoAct" class="form-control" name="fechaIngresoAct" required />
        </div>
        <button class="btn btn-primary" type="button" id="btnConsultarIngresos">Consultar</button>
        <br />
    </form>
    <br>
    <h3>@ViewBag.mensaje</h3>

    @section scripts
    {
        <script>
            $('#btnEliminar').click(function () {
                window.location.href='/funcionario/DarDeBaja?cedula=@ViewBag.socio.Cedula';
            });
            function validarSubmit() {
                let nombre = document.getElementById("nombre").value;
                let fechaNac = document.getElementById("fechaNac").value;
                let fechaNacF = validarEdad(fechaNac);
                let nombreF = verificarNombre(nombre);
                if (nombreF != "" || fechaNacF != "") {
                    alert("Error: " + nombreF + ' ' + fechaNacF);
                    return false;
                }
                return true;
            }
            function verificarNombre(nombre) {
                let parrafo = "";
                if (nombre.length > 6) {
                    for (let i = 0; i < nombre.length; i++) {
                        if (nombre[0] == ' ' || nombre[nombre.length - 1] == ' ' || (!isNaN(nombre[i]) && nombre[i] !== ' ')) {
                            parrafo = 'El nombre no es válido.';
                            continue;
                        }
                    }

                } else {
                    parrafo = 'El nombre debe tener al menos 7 caracteres.'
                }
                return parrafo;
            }
            function validarEdad(fechaNac) {
                let parrafo = "";
                fechaNac = new Date(fechaNac);
                let fechaHoy = new Date();
                let edad = new Date(fechaHoy).getFullYear() - new Date(fechaNac).getFullYear();
                if (edad < 3 || edad > 90) {
                    parrafo = 'El Socio debe tener entre 3 y 90 años';
                }
                return parrafo;
            }
        </script>
    }
}