@using Dominio
@{
    ViewBag.Title = "Listado de Socios";
}

<h2>Listado de Socios</h2>

@if (Model != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Cédula</th>
                <th scope="col">Nombre y Apellido</th>
                <th scope="col">Fecha de Nacimiento</th>
                <th scope="col">Fecha de Ingreso</th>
                <th scope="col">Activo</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
            <tr>
                <td>@s.Cedula</td>
                <td>@s.Nombre</td>
                <td>@s.FechaNac.ToString("dd-MM-yyyy")</td>
                <td>@s.FechaIngreso.ToString("dd-MM-yyyy")</td>
                @if(s.Activo) { <td>Si</td> } else {<td>No</td> }
                <td>@Html.ActionLink("Ver Detalle", "/DetalleSocio", new { cedula = s.Cedula })</td>
            </tr>
            }
        </tbody>
    </table>
}