@using Dominio
@{ ViewBag.Title = "Pagar Mensualidad";
                ViewBag.TextoActivo = (Model.Activo) ? "checked" : "";
                ViewBag.FechaNacimiento = Model.FechaNac.ToString("yyyy-MM-dd");
                ViewBag.FechaIngreso = Model.FechaIngreso.ToString("yyyy-MM-dd");
                ViewBag.mostrarBotonPago = (ViewBag.costoCuota > 0) ? "" : "disabled"; }

<h2>Pagar Mensualidad</h2>

<form action="/funcionario/MostrarCostoMensualidad" method="post" onsubmit="return validateSubmit();">

    <div class="form-group">
        <label for="cedula">Cédula:</label>
        <input type="number" id="cedula" class="form-control" name="cedula" value="@Model.Cedula" readonly />
    </div>

    <div class="form-group">
        <label for="nombre">Nombre y Apellido:</label>
        <input type="text" id="nombre" class="form-control" name="nombre" value="@Model.Nombre" readonly />
    </div>

    <div class="form-group">
        <label for="fechaNac">Fecha de Nacimiento:</label>
        <input type="date" id="fechaNac" class="form-control" name="fechaNac" value="@ViewBag.FechaNacimiento" readonly />
    </div>

    <div class="form-group">
        <label for="fechaIngreso">Fecha de Ingreso:</label>
        <input type="date" id="fechaIngreso" class="form-control" name="fechaIngreso" value="@ViewBag.FechaIngreso" readonly />
    </div>

    <div class="form-check form-switch form-group">
        <input class="form-check-input" type="checkbox" id="activo" name="activo" @ViewBag.TextoActivo onclick="return false" />
        <label class="form-check-label" for="activo">Activo</label>
    </div>
    <hr />
    <h3>Registrar Pago de Socio</h3>
    <div class="form-group">
        <label for="selectMembresia">Seleccionar Membresía:</label>
        <select class="form-control" id="membresia" name="selectMembresia" onchange="toggleCuotas()">
            <option value="0" disabled>Elegir...</option>
            @if (ViewBag.slectedOption == 1)
            {
<option value="1" selected>Pase Libre</option>
                <option value="2">Cuponera</option>
 }
                            else
                            {
                <option value="1">Pase Libre</option>
                                <option value="2" selected>Cuponera</option>            }
        </select>
        <br />
        <div class="inputCantClases" style="display:@ViewBag.showCuponera;">
            <label for="cantActividades">Cantidad de Actividades:</label>
            <input type="number" id="cantActividades" class="form-control" name="cantActividades" placeholder="Ingrese la cantidad" value="@ViewBag.cantActividades" />
        </div>
        <br />
        <button class="btn btn-primary" type="submit" id="btnCalcularCosto">Calcular Costo</button>
    </div>
</form>
<form action="/funcionario/PagarMensualidad" method="post">
    <input style="display:none;" type="number" id="cedula2" class="form-control" name="cedula" value="@Model.Cedula" readonly />
    <input style="display:none;" type="number" id="membresia2" class="form-control" name="membresia" value="@ViewBag.slectedOption" readonly />
    <input style="display:none;" type="number" id="cantActividades2" class="form-control" name="cantActividades" value="@ViewBag.cantActividades" readonly />
    <!--h3>Total a pagar: <span class="totalAPagar">$ @ViewBag.costoCuota</span></h3-->
    <button @ViewBag.mostrarBotonPago class="btn btn-success" type="submit" id="btnCalcularCosto">Pagar: $ @ViewBag.costoCuota</button>
</form>

<h3 class="text-@ViewBag.textMensualidadPaga">@ViewBag.mensaje</h3>
<br>

@section scripts
    {
    <script>
        function toggleCuotas() {
            var membresia = $("#membresia").val();
            if (membresia <= 1) {
                $(".inputCantClases").hide();
                $("#cantActividades").val(10);
                $(".totalAPagar").html('');
            } else {
                $(".inputCantClases").show();
                $(".totalAPagar").html('');
            }
        }
        function validateSubmit() {
            let cantActividades = document.getElementById("cantActividades").value;
            let membresia = document.getElementById("membresia").value;
            if (membresia <= 1) {
                document.getElementById("cantActividades").value(10);
            } else {
                if (cantActividades < 8 || cantActividades > 60) {
                    alert("Debes ingresar entre 8 y 60 actividades");
                    return false;
                }
            }
            return true;
        }
    </script>

}